WP_ROOT_FOLDER=tests/wordpress
TEST_SITE_DB_DSN=mysql:host=127.0.0.1:4406;dbname=wordpress
TEST_SITE_DB_HOST=127.0.0.1:4406
TEST_SITE_DB_NAME=wordpress
TEST_SITE_DB_USER=wordpress
TEST_SITE_DB_PASSWORD=wordpress
TEST_SITE_TABLE_PREFIX=wp_
TEST_SITE_ADMIN_USERNAME=admin
TEST_SITE_ADMIN_PASSWORD=password
TEST_SITE_WP_ADMIN_PATH=/wp-admin
TEST_SITE_WP_URL=http://localhost:8081
TEST_SITE_WP_DOMAIN=localhost:8081
TEST_SITE_ADMIN_EMAIL=admin@wordpress.test
TEST_DB_NAME=wordpress_test
TEST_DB_HOST=127.0.0.1:4407
TEST_DB_USER=root
TEST_DB_PASSWORD=root
TEST_TABLE_PREFIX=wp_
